* {
    font-family: fantasy;
    padding: 0px;
}

body {
    background-image: url(imagenes/posiblefondo3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navopciones-items:hover {
    background-color: #305f27;
    color: #FEFB00;
    transition: .1s;
    border: 3px solid #FEFB00;
    padding: 2px;
}

.nav-toggle:hover{
   background-color: #305f27;
}

a:hover {
    color: #FEFB00;
    transition: .5s;
}
#btn-borrar-todo:hover{
    color: red;
    border: 2px solid red;
}

.btns-style:hover{
    border:2px solid blue;
    color: blue;
}


/*--------------------------BARRA DE NAVEGACION--------------------------*/
.nav-toggle {
    border: none;
    background: none;
    font-size: 40px;
    color: #BDFF00;
    display: none;
    padding: 3px;
    border-radius: 8px;
}

.header {
    width: 100%;
    height: 90px;
    background-color: #3BA427;
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(17, 110, 17);
    border-radius: 10px;
    align-items: center;
}

.logo {
    -webkit-text-stroke: 2px rgb(17, 110, 17);
    ;
    padding-left: 25px;
    color: rgb(255, 251, 0);
    font-size: 55px;
    text-decoration: none;

}

.navopciones {
    border-radius: 8px;
    margin-left: 30px;
    display: flex;
    font-size: 30px;
    padding: 10px;
    list-style: none;
}

.navopciones-items {
    color: #BDFF00;
    text-decoration: none;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    background-color: #1f47166e;

}

/*------------------------------------------------PAGINA DE INICIO------------------------------------------------------*/
/*texto de bienvenida*/
.intro-inicio {
    border: 2px solid #132f57;
    border-radius: 10px;
    color: #132f57;
    text-align: center;
    justify-content: center;
    background-color: #5da7d2bc;
    width: 100%;
    margin-top: 10px;

}

.intro-inicio h1 {
    font-size: 50px;
    text-decoration: underline;
    padding-top: 20px;
    letter-spacing: 2px;
}

.intro-inicio p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.intro-inicio img {
    padding-bottom: 50px;
}

/*----------------------------VIDEOS-------------------------------*/
.intro-videos {
    width: 100%;
    background-color: #5da7d2bc;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid #132f57;
    border-radius: 10px;

}

h1,
.intro-videos {
    font-size: 30px;
    color: #132f57;
    text-decoration: underline;
    padding-top: 5px;
    letter-spacing: 2px;
}

.videos-inicio {
    padding-left: 20px;
    padding-right: 20px;
}


/*--------------------------------------------PAGINA DE REGISTRO--------------------------------------------------------*/
/*----------------------------INPUT DE REGISTRO----------------------------------*/
.paginaInput {
    border: 2px solid #132f57;
    border-radius: 10px;
    color: #132f57;
    background-color: #5da7d2bc;
    text-align: center;
    /* ----------------- */
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.paginaInput img {
    margin-top: 10px;
}

.input-registro {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*---------------------------------CAPTCHA---------------------------------------*/
.captcha {
    border: 2px solid#132f57;
    border-radius: 10px;
    border-radius: 10px;
    font-size: 30px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px;
}

.muestraResultado {
    font-size: 20px;
    margin: 10px;
}

/*---------------------------------------------LISTA PERSONAJES--------------------------------------------------------*/
.tabla-personajes {
    border: 2px solid #132f57;
    border-radius: 8px;
    background-color: #366dbb80;
    margin:auto;
    text-align: center;
    margin-top: 30px;
    width: 60%;
}
.tabla-personajes h2{
    text-decoration: underline;
}

.tabla-personajes
th {
    margin: 0;
    color: #112849;
    border: 2px solid #132f57;
    padding: 10px;
    font-size: 18px;
}

.tabla-personajes-items {
    color: #1d385f;
    padding: 10px;
    border: 2px solid #132f57;
}

.tabla-personajes,
tr {
    padding: 5px;
}

.input-agregar {
    text-align: center;
    color: #132f57;
    border: 2px solid #132f57;
    border-radius: 10px;
    background-color: #366dbb80;
    margin: 40px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
}
.input-styles{
    font-size: 17px;
    height: 30px;
    width: 150px;
    background-color: #3e6baa5b;
    border: 2px solid #132f57;;
    border-radius: 3px;
    color: white;
}
.input-styles::placeholder{
    color: rgba(255, 255, 255, 0.568);
}

.btns-style{
    border: 2px solid #112849;
    background-color: #204272b7;
    height: 30px;
    color: #112849;
    font-size: 15px;
    margin-top: 3px;
    border-radius: 5px;
}

.btn-eliminar{
    border: none;
    background: none;
    font-size: 30px;
    color: rgb(238, 64, 64);
    display: block;
}
#btn-borrar-todo{
    position: absolute;
    left: 45%;
    right: 45%;
    align-items: center;
    color: rgba(100, 26, 26, 0.781);
    border: 2px solid rgb(100, 35, 35);
    font-size: 15px;
    background-color: #3e6baa5b;
    padding: 3px;
    border-radius: 5px;
    margin-top: 5px;
    
    
}


/*-------------------------------------------------FOOTER--------------------------------------------------------------*/
.footerclass {
    border: 3px solid rgb(17, 110, 17);
    border-radius: 10px;
    font-size: 15px;
    color: #BDFF00;
    background-color: #3BA427;
    text-align: center;
    padding: 20px;
}

.textofooter1 {
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    border-bottom: 1px solid #FEFB00;
    
}

.listafooter {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid #FEFB00;
    padding-bottom: 10px; ;
}

.listafooter,
ul,
li {
    text-decoration: none;
    list-style: none;
}

/*----------------------------------------RESPONSIVE-------------------------------------------------------------------*/
@media screen and (max-width: 750px) {

    /*----------------NAVBAR---------------*/
    .header {
        height: 70px;
    }

    .logo {
        font-size: 50px;
    }

    .navopciones {
        flex-direction: column;
        align-items: center;
        font-size: 25px;
        background-color: #1c6d0ee7;
        position: fixed;
        left: 0;
        width: 90%;
        padding: 20px 0;
        bottom: 100%;
        transition: bottom 0.3s;
    }

    .navopciones-items {
        background-color: #3ca42700;
    }

    .navopciones-visible {
        bottom: 60%;
    }

    .nav-toggle {
        margin: 0 10px;
        display: block;
    }

    /*-----------------INICIO------------------*/
    .intro-inicio h1 {
        font-size: 40px;
        padding-top: 20px;
    }

    .intro-inicio p {
        width: 300px;
        height: 300px;
        margin: auto;

    }

    .intro-inicio img {
        padding-bottom: 20px;
        width: 300px;
        height: 300px;
    }

    h1,
    .intro-videos {
        font-size: 30px;
    }

    .videos-inicio {
        padding-left: 20px;
        padding-right: 20px;
    }

    iframe {
        width: 340px;
        height: 145px;
    }

    /*--------------INPUT DE REGISTRO-----------------*/
    .paginaInput {
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .input-registro {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /*-------CAPTCHA--------*/
    .captcha {
        margin-right: 50px;
        margin-left: 50px;
        padding: 10px;
    }

    /*---------------TABLA-----------------------*/

    .tabla-personajes
    th {
        padding: 5px;
        font-size: 13px;
    }
    
    .tabla-personajes,
    tr {
        padding: 5px;
    }

    .input-agregar {
        margin: 50px 30px;
    }
    #btn-borrar-todo{
        left: 43%;
        right: 43%;
    }

}