* {
    font-family: fantasy;
    padding: 0px;
}

body {
    background-image: url(imagenes/posiblefondo3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:hover {
    color: #FEFB00;
}

/*--------------------------BARRA DE NAVEGACION--------------------------*/
.header {
    background-color: #3BA427;
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(17, 110, 17);
    border-radius: 10px;
    align-items: center;
}
.logo {
    -webkit-text-stroke:2px rgb(17, 110, 17); ;
    padding-left: 25px;
    color: rgb(255, 251, 0);
    font-size: 55px;
    text-decoration: none;
    
}
.barranav {
    padding: 10px;
    list-style: none;
}
.navopciones {
    color: #BDFF00;
    text-decoration: none;
    padding-left: 30px;
    display: flex;
    font-size: 30px;
}
/*------------------------------------------------PAGINA DE INICIO------------------------------------------------------*/
/*texto de bienvenida*/
.intro-inicio {
    border: 2px solid #132f57;
    border-radius: 10px;
    color: #132f57;
    text-align: center;
    justify-content: center;
    background-color: #5da7d2bc;
    width: 100%;
    margin-top: 10px;

}

.intro-inicio h1 {
    font-size: 50px;
    text-decoration: underline;
    padding-top: 20px;
    letter-spacing: 2px;
}

.intro-inicio p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    /* ----------------- */
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.intro-inicio img {
    padding-bottom: 50px;
}

/*----------------------------VIDEOS-------------------------------*/
.intro-videos {
    background-color: #5da7d2bc;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid #132f57;
    border-radius: 10px;

}

h1,
.intro-videos {
    font-size: 30px;
    color: #132f57;
    text-decoration: underline;
    padding-top: 5px;
    letter-spacing: 2px;
}

.videos-inicio {
    padding-left: 20px;
    padding-right: 20px;
}


/*--------------------------------------------PAGINA DE REGISTRO--------------------------------------------------------*/
/*----------------------------INPUT DE REGISTRO----------------------------------*/
.paginaInput {
    border: 2px solid #132f57;
    border-radius: 10px;
    color: #132f57;
    background-color: #5da7d2bc;
    text-align: center;
    /* ----------------- */
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 100px;
    margin-bottom: 200px;
}
.paginaInput img{
    margin-top: 10px;
}

.input-registro {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*---------------------------------CAPTCHA---------------------------------------*/
.captcha {
    border: 2px solid#132f57;
    border-radius: 10px;
    border-radius: 10px;
    font-size: 30px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px;
}

.muestraResultado {
    font-size: 20px;
    margin: 10px;
}

/*---------------------------------------------LISTA PERSONAJES--------------------------------------------------------*/
.tabla-personajes{
   border: 2px solid #132f57;
   border-radius: 8px;
   background-color: #366dbb80;
   color: #112849;
   margin: 0 auto;
   text-align: center;
   margin-top: 30px;
}
.tabla-personajes, th{
    border: 2px solid #132f57;
    padding: 10px;
    font-size: 18px;
}
.tabla-personajes, td{
    padding: 10px;
    border: 2px solid #132f57;
}
.tabla-personajes, tr{
    padding: 5px;
}

.input-agregar {
    text-align: center;
    color: #132f57;
    border: 2px solid #132f57;
    border-radius: 10px;
    background-color: #366dbb80;
    margin: 30px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;

}


/*-------------------------------------------------FOOTER--------------------------------------------------------------*/
.footerclass {
    border: 3px solid rgb(17, 110, 17);
    border-radius: 10px;
    font-size: 15px;
    color: #BDFF00;
    background-color: #3BA427;
    text-align: center;
    padding: 20px;
}

.textofooter1 {
    font-family: 'Times New Roman', Times, serif;
}

.listafooter {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.listafooter,
ul,
li {
    text-decoration: none;
    list-style: none;
}
